* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.border_page{
    width: auto;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 100px;
    display: block;
    background-color: black;
}

.innerHeader {
    width: 900px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_name_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_name_container h1 {
    color: firebrick;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    font-family: sans-serif;
}

.logo_name_container h1 span {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.logo_picture_container {
    height: 100%;
    display: table;
    float: right;
}

.title {
    width: 100%;
    height: 50px;
    display: block;
    background-color: silver;
}

.innerTitle {
    width: 800px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.mvtches_edit_container {
    height: 100%;
    width: 50%;
    padding: 5px;
}

.innerTitle h1 {
    text-align: center;
}

.innerTitle h1 span {
    color: firebrick;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chapterTitleContainer {
    height: 25x;
    width: 100%;
    display: block;
    padding: 25px;
    border: 10px;
    outline: solid 5px black;
    background-color: rgba(37, 37, 37, 0.664);

}

.innerChapterTitleContainer {
    height: 100%;
    width: 800px;
    display: block;
    margin: auto;
    padding: 20px;
    outline: solid 5px black;
    background-color:white;
}

#fix_image {
    padding: 20px;
}

.innerChapterTitleContainer h2 {
    text-align: center;
    padding: 20px;
}

.innerChapterTitleContainer span {
    font-weight: bold;
    color: firebrick;
}


.paragraph_text_container {
    height: 100%;
    width: 50%;
    display: block;
    margin: auto;
    height: relative;
    padding: 3px;
    outline: ridge 5px black;
    background-color: white;
}

.paragraph_text_container p {
    padding: 3px;
    text-align: center;
    font-size: 20px;
}
.center {
      display: block;
      margin: auto;
      width: 40%;
      position: center;
}

.center img {
    margin: auto;
}

.footer {
    width: 100%;
    height: 100px;
    display: block;
    background-color: black;
}

.footer p {
    text-align: center;
    color: white;
    padding: 50px;
}

