* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 100px;
    display: block;
    background-color: black;
}

.innerHeader {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: white;
}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.logo h1{
    color: black;
    display: table-cell;
    vertical-align: middle;
}

.title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
} 

.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      block-size: 200px;
      border-image-repeat: round;
  }

.footer {
    width: 100%;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #101010;
}

