* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 100px;
    display: block;
    background-color: black;
}

.innerHeader {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_name_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_name_container h1 {
    color: firebrick;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    font-family: sans-serif;
}

.logo_name_container h1 span {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.logo_picture_container {
    height: 100%;
    display: table;
    float: right;
}


.title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
} 

.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      block-size: 200px;
      border-image-repeat: round;
  }

.footer {
    width: 100%;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #101010;
}

